.home-jumbo {
  background: deepskyblue; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, deepskyblue , #228); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, deepskyblue , #228); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.service-description {
  background: -webkit-linear-gradient(to left, deepskyblue , #228); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, deepskyblue , #228); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align:center;
  padding:20px;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

.service-submit {
  text-align:center;
  padding:20px;
}

.spinner {
  text-align: center;
}

.booking-container {
  margin-left: 20px;
  margin-right: 20px;
}

.booking-calendar-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.booked-day {
  cursor: pointer;
  background-color: #008cba;
}
.booked-day-number {
  /*color: white;*/
}
.booking-event {
  cursor: pointer;
  border-color: #008cba;
  text-align: center;
  background-color: #008cba;
  height: 100%;
}
.booking-event:hover {
  font-weight: bold;
}
