@import '~bootswatch/yeti/_variables.scss';

.margin-top-20{
  margin-top: 20px;
}
.padding-top-20{
  padding-top: 20px;
}
.with-navbar {
  padding-top: 40px;
}

.no-link-style{
  color: inherit;
}
.home-jumbo {
  background: deepskyblue; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, deepskyblue , #228); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, deepskyblue , #228); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.service-description {
  background: -webkit-linear-gradient(to left, deepskyblue , #228); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, deepskyblue , #228); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align:center;
  padding:20px;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

.error-container {
  text-align: center;
  .status {
    font-size: 80px;
  }
  .status-text {
    font-size: 50px;
  }
  .status-404, .status-text-404 {
    font-weight: bold;
    color: purple;
  }
  .no-service-title {
    font-size: 50px;
  }
  .no-service-description {
    font-style: italic;
  }
}

.service-submit {
  text-align:center;
  padding:20px;
}

.point {
  cursor: pointer;
}

.spinner {
  text-align: center;
}

/** booking **/
.booking-form {
  padding-left: 20px;
  padding-right: 20px;
}

.booking-calendar-container {
  margin-top: 20px;
  /*height: 100px !important;*/
  /*padding-top: 20px;*/
  /*padding-bottom: 30px;*/
}
.booking-calendar-loader {
  color: white;
  padding: 2px;
  font-size: 11px;
  display: inline;
  background-color: deepskyblue;
}

/** fullcalendar booking classes */
.booked-day {
  cursor: pointer;
  background-color: #008cba;
}
.booked-day-number {
  /*color: white;*/
}
.booking-event {
  cursor: pointer;
  text-align: center;
  border-color: #008cba !important;
  background-color: #008cba !important;
}
.booking-event:hover {
  font-weight: bold;
}

.booking-range-list {
  margin-top: 20px;
}
.change-day-link {
  color: white;
}
.change-day-link:hover {
  color: white;
  text-decoration: none;
}
.booking-item-time {
  font-size: 17px;
  font-weight: bold;
}
.no-books {
  /*border-left: 1px solid #007196;*/
  /*margin-top: -10px;*/
  /*border-right: 1px solid #007196;*/
  /*border-bottom: 1px solid #007196;*/
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 5px;
  /*background-color: #f2f2f2;*/
  /*text-align: center;*/
  .no-books-text {
    margin-bottom: 90px;
    color: #007196;
    /*font-weight: bold;*/
    font-size: 23px;
  }
}

.booking-range {
  text-align: center;
}

.booking-range-container{
  margin-top: 20px;
}

.booking-list-counter{
  padding: 8px;
}

.booking-list-header{
  background-color: $brand-primary;
  color: white;
}

.booking-list-badge{

}

.shop-header {
  position:relative;
  /*padding-top: 50px;*/
  background-size: cover;
  color: #fff;
}
.shop-header-full {
  padding-top: 140px
}

.shops-list{
  margin-top: 20px;
}

.shop-header-background {
  position:relative;
  background-color: rgba(0,0,0,.50);
  padding: 20px;
  padding-left:60px;
  padding-right:60px;
  top:0; bottom:0; left:0; right:0;
}

.shop-footer{
  padding:10px;
  margin-top:50px;
  background-color: #222;
  color: white;
}

.shop-services{
  min-height: 400px;
  margin-top: 20px;
}

.shop-list-item {
  a { color:black; text-decoration: none;}
  a:hover { color:$brand-primary}

  .img-rounded{
    width:140px;
  }

}

.huge-loader{
  position: absolute;
  z-index: 100000;
  top:0;left:0; bottom:0; right:0;
  background-color: white;
  /*color: $brand-primary;*/
}

.loading-spinner{
  position: relative;
  margin-top: 50%;
}

.loader-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s linear;
}

.content-hidden {
  opacity: 0;

}

.content-shown {
  opacity: 1;
  transition-delay: 2s;
  transition: opacity 1s linear;

}


.fc-toolbar{
  background-color: $brand-primary;
  border-top: solid #fff 1px;
  margin-bottom: 0em !important;
  padding:4px;
  h2{
    font-size: 18px;
    margin-bottom: 0px;
    padding :8px;
    text-transform:'capitalize';
    color: white;
  }
}

.fc-day-header{
  padding: 6px !important;
}
.panel-heading-calendar{

}

.panel-body-calendar{
  padding: 0;
}
