.home-jumbo {
  background: deepskyblue; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, deepskyblue , #228); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, deepskyblue , #228); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.service-description {
  background: -webkit-linear-gradient(to left, deepskyblue , #228); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, deepskyblue , #228); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align:center;
  padding:20px;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

.error-container {
  text-align: center;
  .status {
    font-size: 80px;
  }
  .status-text {
    font-size: 50px;
  }
  .status-404, .status-text-404 {
    font-weight: bold;
    color: purple;
  }
  .no-service-title {
    font-size: 50px;
  }
  .no-service-description {
    font-style: italic;
  }
}

.service-submit {
  text-align:center;
  padding:20px;
}

.point {
  cursor: pointer;
}

.spinner {
  text-align: center;
}

.booking-container {
  margin-left: 20px;
  margin-right: 20px;
}

.booking-loading {
  color: white;
  padding: 2px;
  font-size: 11px;
  display: inline;
  background-color: deepskyblue;
}

.booking-calendar-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.booked-day {
  cursor: pointer;
  background-color: #008cba;
}
.booked-day-number {
  /*color: white;*/
}
.booking-event {
  cursor: pointer;
  text-align: center;
  border-color: #008cba !important;
  background-color: #008cba !important;
}
.booking-event:hover {
  font-weight: bold;
}

.booking-range-list-container {
  padding-top: 10px;
}
.booking-range-list-header {
  color: white;
  background-color: #007196;
  padding: 20px;
}
.booking-item-time {
  font-size: 17px;
  font-weight: bold;
}

.booking-range-container {
  padding-top: 10px;
}
