.home-jumbo {
  background: deepskyblue; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, deepskyblue , #228); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, deepskyblue , #228); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.service-description {
  text-align:center;
  padding:20px;
  background-color: orange;
}

.service-submit {
  text-align:center;
  padding:20px;
}

.spinner {
  text-align: center;
}
